header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: navy;
    color: white;
}

td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}