header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: navy;
    color: white;
}
header a:visited {
    color: white;
}

td, th {
    border: 1px solid black;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}
main {
    display: flex;
    justify-content: center;
}

.tabsection {
    background-color: rgb(200,200,200);
}