* {
  background-color: rgb(230,230, 230);
}
.section {
  background-color:rgb(57, 255, 20);
  border:1px solid black;
  border-radius: .5em;
}
nav {
  display:grid;
  grid-template-columns: repeat(5,1fr);
}
nav p {
  text-align: center;
}
