body {
    background-image:url("davidbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode: darken; */
}
h1 {
    text-align: center;
}
.profile {
    width:fit-content;
    border: .2em solid black;
    border-radius: 5px;
    margin:auto;
    background-color:rgba(0,255,255, .6);
}

.section {
    border: 2.5px solid black;
        border-radius: 5px;
        background-color: rgba(144,238,144,.6);
        padding:5%;
}
p {
    mix-blend-mode: darken;
}
