form button {
    border-radius: 5px;
    color: white;
    background-color: navy;
    transition: 2s all ease-in;
}
.questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
fieldset legend {
    grid-column-end: 2;
}